@import url('https://fonts.googleapis.com/css?family=Patua+One');
 
  <!--search-->
   #search-form
  {
  float:right;
  padding:0;
  }
    #search-form
  {
  float:right;
  padding:0;
  }
 .form-container {

	width: 353px;
	height: 49px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: left;
	background: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 0 #ddd, 0 6px 8px rgba(0,0,0,.5);
}
.search-field {
	float: left;
	width: 250px;
	height: 40px;
	margin: 0;
	padding: 0 8px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #888;
	font-style: italic;
	font-weight: 400;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 1px 1px #e2e2e2 inset, 0 1px 0 #fff;
	}


.search-field:focus {
	outline: 0;
	color: #666;
	border-color: #aaa;
	box-shadow: 0 1px 1px #dadada inset;
}

.submit-container {
	float: left;
	width: 60px;
	height: 40px;
	margin: 0 0 0 5px;
	padding: 0;
	cursor: pointer;
	background-color: #1fbad6;
	border: 1px solid #1fbad6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	border-radius: 6px;


	
}

.submit-container:hover, .submit-container:focus {

	box-shadow: 0 1px 1px #f36215 inset, 0 1px 0 #fff;
}

.submit-container:active {
	outline: 0;
	box-shadow: 0 1px 6px #e4340b inset;
}

#home_submit {
	float: left;
	width: 63px;
	height: 38px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: 0px solid #000;
	border-radius: 6px;
	background-color: #1fbad6;
}




 <!-- navigation-->


.navbar-brand {
    margin-left: 2% !important;
}
.navbar-nav {
    margin-right: 2% !important;
	color:white;
}
.mainheading {
    font-family: Roboto !important;
    font-size: 3em;
    letter-spacing: 5px !important;
}
.downtext {
    font-family: Roboto !important;
    font-size: 0.8em;
    letter-spacing: 3px !important;
}
.content {
    margin-top: 12%; 
    text-align: center;
    margin-bottom: 10%;
    color: #fff !important;
}

.start-btn {
    padding: 1.5% 3% !important;
    font-size: 1.2em !important;
    border-radius: 30px !important;
    font-family: Roboto !important;
}

.link-btn:hover {
    opacity: 1;
    text-decoration: underline;
}
.link-btn {
    color: #fff !important;
    background-color: transparent !important;
    font-weight: bold;
    opacity: 0.85;
}
.container-fluid {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.special {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 1%;
    color: #fff !important;
    background-color: transparent !important;
    font-weight: bold;
    padding: 5% 8% !important;
    margin-top: 17%;
    
}
.special:hover {
    background-color: #fff !important;
    color: #000 !important;
    
}
.afternav {
    color: #364763;
    text-align: center;
    margin-top: 5%;
}
.afternavtext {
    color: #7c899e !important;
    font-size: 1.2em !important;
    text-align: center;
}

.navbar-nav a{
color:white;}

 .navbar-inverse
 {
	 background-color:transparent;
	 border:none;}
	
	 .container-fluid
	 {
	 padding:0;
	 margin:0;}

 <!-- advertisement -->

 .technical-text
 {
 color:yellow;
}
.technical-text
 {
 color:#1fbad6;
 
 padding-top:30%;
 font-family: 'Patua One', cursive;
 font-size:45px;
  position: relative;
  animation: mymove1 3s;
 animation-fill-mode: forwards;
}


.cultural-text
{
 color:#1fbad6;
float:right;
 padding-top:30%;
 font-family: 'Patua One', cursive;
 font-size:45px;
  position: relative;
  animation: mymove2 3s;
  animation-fill-mode: forwards;
}	
.communication-text
{
 color:#1fbad6;
 
 padding-top:30%;
 font-family: 'Patua One', cursive;
 font-size:45px;
 position: relative;
  animation: mymove3 3s;
 animation-fill-mode: forwards;
}
.advertisement-cultural
	{
	background-color:#EEEEEE;}
	
@keyframes mymove1 
{
    from {left: 0px;}
    to {left: 30%;}
}
@keyframes mymove2
 {
    from {right: 10px;}
    to {right: 40%;}
}
@keyframes mymove3
{
    from {left: -200px;}
    to {left: 12%;}
}

 <!-- barter -->
 
 
 .about-barter
	{
		padding:10px 60px 10px 60px;
		background-color:red;
	
	}
 .about-barter
	{
		padding:3% 10% ;
		background-color:#EEEEEE;
		width:100%;
	}
	.about-barter-head
	{
	padding-left:43%;
	font-size:30px;
	color:#1fbad6;
	padding-bottom:10px;
	}
	 .about-barter span
	 {
	 display:block;}
	 
  .animated 
  {
            
      background-repeat: no-repeat;
       background-position: left top;
       margin-bottom:60px;
            -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
        
         @keyframes fadeInDown {
            0% {
               opacity: 0;
               transform: translateY(-20px);
            }
            100% {
               opacity: 1;
               transform: translateY(0);
            }
         }
         
         .fadeInDown {
           
            animation-name: fadeInDown;
         }
	
 <!-- user-views -->
 
	span{
	display:block;}
	.title{
	margin-top:10px;
	text-align:center;
	}
	.item{
	height:300px;
	background-color:none;
	}
	.item h4{
	width:70%;
	text-align:center;
	}
	.item p {
    max-width: 768px;
    margin: auto;
    min-height: 132px;
    color: #8e9aa9;
    line-height: 1.9;
    font-weight: 500;
	padding-top:30px;
	padding-bottom:20px;
	}
	.title{
	position: relative;
    text-align: center;
    color: #1fbad6;
    text-transform: uppercase;
    font-weight: 400;
	}
	.carousel-control.right
	{
	background-image:none;
	}
	.carousel-control.left
	{
	background-image:none;
	}
   .user-details{
	position:absolute;
	bottom:0;
    }
    .user-details{
	position:absolute;
	margin-left:44%;
    }
   .people-views
	{
    transition-timing-function: ease-in-out;
	}
	.user-views 
{
padding:20px;}
   <!-- footer -->
   
 
	.footer span
	{display:block;
	}
	.ft-glypicon2
	{
	padding-right:30px;}
	.ft-glypicon2 li
	{
	text-decoration:none;
	display:inline;
	list-style:none;
	font-size:190%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
	}
	
	
	<!-- footer-->
	.ft-manage-by
	{
	background-color:#202121;
	color:#9b9b9b;
	padding:10px 10px 20px 10px;
	
	}
	.ft-manage-by
	{
	background-color:#202121;
	color:#9b9b9b;
	padding:10px 10px 20px 10px;
	
	}
	.ft-manage-by-text
	{
	text-align:center;}
	.ft-manageby-col1
	{
	float:right;}
	.ft-manageby-col2
	{
	text-align:center;}
	.footer-logo
	{
	padding-left:120px;
	padding-top:20px;}
	.contact-us
	{
	padding-left:50px;
	padding-top:30px;
	list-style:none;}
	.contact-us a
	{
	color:#9b9b9b;}
	.contact-us a:hover
	{
	color:#1fbad6;
	text-decoration:none;}
	.ft-followus-and-contact
	{
		color:#9b9b9b;
	background-color:#202121;
	border-bottom:1px solid #333;}
	.ft-follow-us
	{
		padding-top:20px;
	padding-right:20px;
	float:right;}
	.ft-social
	{
		padding:0;
	}
	.footer{
		margin-top:35px;
	}
      <!-- modal-->
	  
	  .modal-body
	{
	padding:0;}
	 .modal-body
	{
	padding:0;}
	.modal-part-1
	{
	background-color:#1fbad6;}
	.modal-logo
	{
	padding:25px 35px;}
	.modal-part-2-text
	{
		color:black;
	}
	.modal-text
	{
	color:white;
	padding-left:30px;
	padding-top:40px;
	padding-bottom:40px;
	display:block;}
	
	
	 .form-control 
	 {
	 width:85%;}
	 .modal-part-2 a
	 {
		 color:blue;
	 }
	.modal-part-2
	{
	padding-top:0px;}
	.modal-part-2-text
	{
	padding-left:18px;
	padding-bottom:10px;}
	.nav-logo
	{
	padding:0;}

 
  